[submodule "desktop"]
	path = desktop
	url = https://github.com/anywhere-labs/deepseek-harness-desktop.git
[submodule "plugins/tokens_DshSkillsUI_code"]
	path = plugins/tokens_DshSkillsUI_code
	url = https://github.com/sobermh/tokens_DshSkillsUI_code.git
[submodule "plugins/tokens_DshFeishuConnect_code"]
	path = plugins/tokens_DshFeishuConnect_code
	url = https://github.com/sobermh/tokens_DshFeishuConnect_code.git
[submodule "tokens-version-updates"]
	path = plugins/tokens_DshVersionUpdates_code
	url = https://github.com/sobermh/tokens_DshVersionUpdates_code.git
[submodule "plugins/tokens_DshModelManager_code"]
	path = plugins/tokens_DshModelManager_code
	url = https://github.com/TokensAPI/tokens_DshModelManager_code.git
