[submodule "desktop"]
	path = desktop
	url = https://github.com/anywhere-labs/deepseek-harness-desktop.git
[submodule "tokens-version-updates"]
	path = plugins/tokens_DshVersionUpdates_code
	url = https://github.com/sobermh/tokens_DshVersionUpdates_code.git
[submodule "tokens-model-manager"]
	path = plugins/tokens_DshModelManager_code
	url = https://github.com/TokensAPI/tokens_DshModelManager_code.git
[submodule "dsh-tokensapi-ui"]
	path = plugins/dsh-tokensapi-ui
	url = https://github.com/TokensAPI/dsh-tokensapi-ui.git
[submodule "tokens-at-file"]
	path = plugins/tokens_DshAtFile_code
	url = https://github.com/TokensAPI/tokens_DshAtFile_code.git
[submodule "tokens-dsh-web-search"]
	path = plugins/tokens_DshWebSearch_code
	url = https://github.com/sobermh/tokens_DshWebSearch_code.git
[submodule "tokens-browser-use"]
	path = plugins/tokens_DshBrowserUse_code
	url = https://github.com/TokensAPI/tokens_DshBrowserUse_code.git
[submodule "tokens-dsh-media-gen"]
	path = plugins/tokens_DshMediaGen_code
	url = https://github.com/TokensAPI/tokens_DshMediaGen_code.git
[submodule "tokens-connect"]
	path = plugins/tokens_DshConnect_code
	url = https://github.com/sobermh/tokens_DshConnect_code.git
